@import 'utilities';
@import 'buttons';

* {
    margin: 0 auto;
    padding: 0 auto;
    box-sizing: border-box;
}
main {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.7rem;
    
    a, p {
        font-size: 1rem;
        font-weight: lighter;
        line-height: 1.7rem;
    }
    h1 {
        font-size: 1.8rem;
        line-height: 4rem;
        color: $textColorOne;
    }
    header, .hero > * {
        color: $textColorOne;
    }
    .container, .flex {
        display: flex;
    }
    %flex {
        justify-content: center;
        align-items: center;
    }
    .flex {
        @extend %flex;
    }
    
    header {
        background: $primaryColor;

        .container {
            justify-content: space-evenly;
            align-items: center;
        }
    }
    .hero {
        background: $primaryColor;

        .container {
            flex-direction: column;
            @extend %flex;

            h1 {
                color: $textColorOne;
                font-size: 3rem;
                max-width: 50%;
                line-height: 3rem;
            }
            a, p, h1 {
                text-align: center;
            }
            & > * {
                margin: 1rem 0;
            }
        }
        .hero__imgs {
            margin: 0;

            img {
                width: 25%;
            }
        }
    }
}


@import 'mediaqueries';