.m-1 {
  margin: 1rem;
}

.my-1 {
  margin: 1rem 0;
}

.p-1 {
  padding: 1rem;
}

.py-1 {
  padding: 1rem 0;
}

.m-2 {
  margin: 2rem;
}

.my-2 {
  margin: 2rem 0;
}

.p-2 {
  padding: 2rem;
}

.py-2 {
  padding: 2rem 0;
}

.m-3 {
  margin: 3rem;
}

.my-3 {
  margin: 3rem 0;
}

.p-3 {
  padding: 3rem;
}

.py-3 {
  padding: 3rem 0;
}

.m-4 {
  margin: 4rem;
}

.my-4 {
  margin: 4rem 0;
}

.p-4 {
  padding: 4rem;
}

.py-4 {
  padding: 4rem 0;
}

.m-5 {
  margin: 5rem;
}

.my-5 {
  margin: 5rem 0;
}

.p-5 {
  padding: 5rem;
}

.py-5 {
  padding: 5rem 0;
}

.m-1 {
  margin: 1rem;
}

.my-1 {
  margin: 1rem 0;
}

.p-1 {
  padding: 1rem;
}

.py-1 {
  padding: 1rem 0;
}

.m-2 {
  margin: 2rem;
}

.my-2 {
  margin: 2rem 0;
}

.p-2 {
  padding: 2rem;
}

.py-2 {
  padding: 2rem 0;
}

.m-3 {
  margin: 3rem;
}

.my-3 {
  margin: 3rem 0;
}

.p-3 {
  padding: 3rem;
}

.py-3 {
  padding: 3rem 0;
}

.m-4 {
  margin: 4rem;
}

.my-4 {
  margin: 4rem 0;
}

.p-4 {
  padding: 4rem;
}

.py-4 {
  padding: 4rem 0;
}

.m-5 {
  margin: 5rem;
}

.my-5 {
  margin: 5rem 0;
}

.p-5 {
  padding: 5rem;
}

.py-5 {
  padding: 5rem 0;
}

.menu, .btn-primary, .btn-secondary {
  display: inline-block;
  border-radius: 5px;
  padding: 0.5rem 1.4rem;
  margin: .2rem;
  outline: none;
  border: none;
  text-decoration: none;
  text-shadow: none;
}

.menu:hover, .btn-primary:hover, .btn-secondary:hover {
  -webkit-transform: scale(0.97);
          transform: scale(0.97);
}

.menu {
  padding: .5rem .6rem;
  font-size: 1rem;
  color: #fff;
}

.btn-primary {
  background-color: #000F38;
  color: #fff;
}

.btn-secondary {
  background-color: transparent;
  color: #444;
}

* {
  margin: 0 auto;
  padding: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

main {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.7rem;
}

main a, main p {
  font-size: 1.2rem;
  font-weight: lighter;
  line-height: 1.7rem;
}

main h1 {
  font-size: 1.8rem;
  line-height: 4rem;
  color: #fff;
}

main header, main .hero > * {
  color: #fff;
}

main .container, main .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .flex, main .hero .container {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main header {
  background: #2d4dad;
}

main header .container {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main header #menuHamburger {
  display: none;
}

main .hero {
  background: -webkit-gradient(linear, left top, left bottom, from(#2d4dad), to(#c926d8));
  background: linear-gradient(#2d4dad, #c926d8);
}

main .hero .container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main .hero .container h1 {
  color: #fff;
  font-size: 3rem;
  max-width: 50%;
  line-height: 3rem;
}

main .hero .container a, main .hero .container p, main .hero .container h1 {
  text-align: center;
}

main .hero .container > * {
  margin: .8rem 0;
}

main .hero .container .hero__text {
  max-width: 60%;
}

main .hero .hero__img {
  margin-bottom: -8rem;
}

main .hero .hero__img img {
  width: 25%;
  margin: 0;
}

.m-1 {
  margin: 1rem;
}

.my-1 {
  margin: 1rem 0;
}

.p-1 {
  padding: 1rem;
}

.py-1 {
  padding: 1rem 0;
}

.m-2 {
  margin: 2rem;
}

.my-2 {
  margin: 2rem 0;
}

.p-2 {
  padding: 2rem;
}

.py-2 {
  padding: 2rem 0;
}

.m-3 {
  margin: 3rem;
}

.my-3 {
  margin: 3rem 0;
}

.p-3 {
  padding: 3rem;
}

.py-3 {
  padding: 3rem 0;
}

.m-4 {
  margin: 4rem;
}

.my-4 {
  margin: 4rem 0;
}

.p-4 {
  padding: 4rem;
}

.py-4 {
  padding: 4rem 0;
}

.m-5 {
  margin: 5rem;
}

.my-5 {
  margin: 5rem 0;
}

.p-5 {
  padding: 5rem;
}

.py-5 {
  padding: 5rem 0;
}

@media only screen and (max-width: 768px) {
  main header {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  main header nav {
    display: none;
  }
  main header #menuHamburger {
    display: block;
    width: 2.7rem;
  }
  main .hero .container h1 {
    max-width: 70%;
  }
  main .hero .container .hero__text {
    max-width: 70%;
    font-size: 1.1rem;
  }
  main .hero .hero__img {
    margin-bottom: -8rem;
  }
  main .hero .hero__img img {
    width: 30%;
  }
}
/*# sourceMappingURL=style.css.map */